* {
    font-family: Arial;
}

.nav {
    width: 800px;
    height: 100px;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: blue;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.navContent {
    margin: auto;
}

.box {
    width: 800px;
    height: 800px;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: blue;
    flex-wrap: wrap;
    display: flex;
}

.container {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 25px;
    text-align:center;
}

.cases {
    background-color: white;
    
}

.recovered {
    background-color: green;
}

.deaths {
    background-color: darkred;
}
